html, body {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

.navbar {
    width: 100%;
    position: absolute;
    display: flex;
    padding: 0 40px;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    justify-content: space-between;
    box-sizing: border-box;
}

.logo-markecat {
    width: 12rem;
}

.pages {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
}

.btn-hablemos {
    background-color: rgb(255, 229, 0);
    border: 0;
    padding: 0.9em 1.2em;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    transition: padding-right 0.2s ease-in-out, background-color 0.2s ease;
}

.btn-hablemos:hover {
    padding-right: 2em;
    background-color: rgb(250, 170, 100);
}

.btn-hablemos::after {
    content: " >";
    position: absolute;
    color: transparent;
    margin-left: 8px;
    transition: color 0.2s ease-out;
    box-sizing: border-box;
}

.btn-hablemos:hover::after {
    color: #000;
}

.pages-navbar {
    text-decoration: none;
    color: #fff;
    position: relative;
}

.pages-navbar::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 0.1rem;
    top: 15px;
    border-radius: 10px;
    background-color: rgba(255, 215, 0, 0);
    transform: translateX(-100%);
    transition: all 0.2s ease-in-out;
}

.pages-navbar:hover::after {
    width: 100%;
    top: 20px;
    background-color: rgba(255, 229, 0, 1);
}


header {
    background-color: #000;
}

.hero {
    background: url(/img/hero-background/Elemento\ Hero\ MarkeCat.com_20260127_222626_0000.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 80%;
    height: 100vh;
    padding: 0.2rem;
    color: #fff;
    width: 90%;
    margin: 0 auto;
}

.yellow {
    color: rgb(255, 229, 0);
}

.hero h1 {
    margin: 25vh 0 0;
    font-size: 4rem;
}

.hero p {
    font-family: Helvetica, sans-serif;
    font-size: 1.5rem;
    font-weight: 300;
}

.hero button {
    margin: 0;
}