html, body {
    margin: 0;
    padding: 0;
}

:root {
    --primary: rgb(250, 229, 0);
    --primary-dark: rgb(255, 129, 0);
    --secondary: rgb(253, 183, 0);
    --secondary-dark: rgb(254, 168, 0);
    --white: #fff;
    --grey: #d8d6d6;
    --black: #221f1f;
    --black2: #2a2b2b;
    --blue: #0022ee;
}

body {
    position: relative;
}

h1, h2, h3 {
    font-family: 'Open Sans', sans-serif;
}

p {
    font-family: "Poppins", sans-serif;
}

.navbar {
    width: 100%;
    position: absolute;
    display: flex;
    padding: 0 40px;
    left: 50%;
    top: 10px;
    transform: translateX(-50%);
    justify-content: space-between;
    box-sizing: border-box;
}

.logo-markecat {
    width: 12rem;
}

.pages {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 16px;
}

.btn-hablemos {
    background-color: var(--primary);
    border: 0;
    padding: 0.9em 1.2em;
    font-size: 1rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    cursor: pointer;
    box-sizing: border-box;
    position: relative;
    transition: background-color 0.3s ease-in-out;
}

.btn-hablemos:hover {
    background-color: var(--secondary);
}

.pages-navbar {
    text-decoration: none;
    color: var(--white);
    position: relative;
    font-family: "Poppins", sans-serif;
    transition: color 0.2s ease-in;
}

.pages-navbar:hover {
    color: var(--grey);
}

.pages-navbar::after {
    content: "";
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 0.1rem;
    top: 20px;
    border-radius: 10px;
    background-color: rgba(255, 215, 0, 0);
    transform: translateX(-100%);
    transition: all 0.2s ease-in-out;
}

.pages-navbar:hover::after {
    width: 100%;
    top: 23px;
    height: 0.2rem;
    background-color: var(--primary);
}


header {
    background-color: #000;
}

.hero {
    background: url(/img/hero-background/Elemento\ Hero\ MarkeCat.com_20260127_222626_0000.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 80%;
    height: 100vh;
    padding: 0.2rem;
    color: #fff;
    width: 90%;
    margin: 0 auto;
}

.yellow {
    color: var(--primary);
}

.hero h1 {
    margin: 25vh 0 0;
    font-size: 4rem;
}

.hero p {
    font-size: 1.5rem;
    font-weight: 300;
}

.hero button {
    margin: 0;
}